<!-- <h1>Lista de productos</h1>
  <button mat-raised-button color="primary" (click)="dialogoNuevoProducto()">Nuevo Producto</button>
   -->
<mat-toolbar color="accent">
  <button mat-button routerLink="/">Inicio</button>
  <button mat-button routerLink="/users">Usuarios</button>
  <button mat-button routerLink="/areas">Areas</button>
</mat-toolbar>
<div id="layoutSidenav_content">
  <main class="mainButtons">
    <div class="container-fluid px-4">
      <h1 class="mt-4 text-center">Datos de la empresa</h1>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card1">
            <div class="card-body">Total empleados</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalEmpleados}}</p>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card5">
            <div class="card-body">Total areas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalAreas}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card4">
            <input type="text" #nameInput>
            <button (click)="findAmountOfEmployeesByName(nameInput.value)">Buscar</button>
            <div class="card-body">Por nombre de empleado
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalEmpleadosNombre}}</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <input type="number" #stateInput>
            <button (click)="findAmountOfUsersAndAreasByState(+stateInput.value)">Buscar</button>
            <div class="card-body">Por estado (0-1-2)
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalEstado}}
            </div>
            
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card2">
            <div class="card-body">Empleados activos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalEmpleadosActivos}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card6">
            <div class="card-body">Areas activas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalAreasActivas}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <input type="text" #salaryInput>
            <button (click)="findAmountOfUsersBySalary(+salaryInput.value)">Buscar</button>
            <div class="card-body">Por salario
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalEmpleadosSalario}}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <input type="number" #ageInput>
            <button (click)="findAmountOfUsersByAge(+ageInput.value)">Buscar</button>
            <div class="card-body">Por edad
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{totalEmpleadosEdad}}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card3">
            <div class="card-body">Empleados inactivos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalEmpleadosInactivos}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <div class="card-body">Areas inactivas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <p>{{totalAreasInactivas}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <input type="number" #numberDocumentInput>
            <button (click)="findAmountOfUsersByNumberDocument(+numberDocumentInput.value)">Buscar</button>
            <div class="card-body">Por numero de documento
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              
              {{totalEmpleadoNumberDocument}}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4" id="card7">
            <input type="text" #nameAreaInput>
            <button (click)="findAmountOfAreasByName(nameAreaInput.value)">Buscar</button>
            <div class="card-body">Por nombre de area
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;
              {{totalNombreArea}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>